body{
  background: linear-gradient(
    to right,
     #833ab4,
      #fd1d1d,
       #fcb045
  );
}
.todo_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.todo_container h1{
  background-color: blueviolet;
  color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 2px grey;
}

.input_container input{
  padding: 5px;
  width: 95%;
  outline:none;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  margin: 20px;
  background-color: transparent(0.1);
  color: black;
}

.input_container input:focus{
  border: 1px solid cornflowerblue;
  background-color: white;
}

.input_container button{
  margin-top: 10px;
  padding: 7px 25px;
  cursor: pointer;
  background-color: blueviolet;
  border: none;
  color: white;
  box-shadow: 2px 2px 10px 1px grey, -2px 2px 10px 1px gray;
  font-weight: bold;
}

.input_container button:hover{
  background-color: #7837b5;
  animation: vibrate 15ms linear 500ms 25;
}
@keyframes vibrate {
  0%{
    transform: rotate(2deg);
  }
  50%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-2deg);
  }
}
.list_container{
  margin-top: 40px;
  width: 70%;
  min-width: 300px;
  max-width: 800px;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #7837b5;
}

.list_container p{
  font-weight: bold;
  font-size: 20px;
  margin:10px 10px;
  color: white;
  background-color: rgb(57, 35, 78);
  padding: 5px;
  border-radius: 5px 10px;
}

.list_item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: 1px solid blueviolet;
  padding: 5px;
  margin: 10px;  
  border-radius: 5px;
}

.cm_btn{
  background-color: transparent;
  padding: 5px 25px;
  border: none;
  outline: none;
  cursor: pointer;
}

.danger{
  background-color: red;
  color: white;
  margin-right: 10px;
}

.done{
  background-color: green;
  color: white;
}
.checked_list_item{
  background-color: cyan;
  filter: blur(2px);
  text-decoration: line-through;
}